<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Hello</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}">
    </script>


    <script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/1.0.11/dist/bootstrap-validate.js"></script>
</head>

<body>
<form class="form-horizontal" th:object="${user}" th:action="@{/index}" method="post">
    <fieldset>
        <input type="hidden" th:field="*{userId}"/>
        <!-- Form Name -->
        <legend>Login</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="userName">Email Id</label>
            <div class="col-md-4">
                <input id="userName" name="userName" placeholder="" class="form-control input-md" required="true" type="text" th:field="*{userName}"/>
            </div>
        </div>

        <script>
            bootstrapValidate('#email', 'email:Enter a valid email address');
        </script>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-4">
                <input id="password" name="password" placeholder="" class="form-control input-md" required="" type="password" th:field="*{password}"/>
                <span class="help-block"> </span>
            </div>
        </div>

        <script>
            bootstrapValidate('#password', 'min:3:Your Password must be longer than 3 characters');
            bootstrapValidate('#password', 'max:12:Your Password must not be longer than 12 characters');
        </script>


        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>

        <div align="center" th:if="${param.logout}">
            <p style="font-size: 20; color: #2d38ff;">You are logged out!</p>
        </div>

        <div align="center" th:if="${param.expire}">
            <p style="font-size: 20; color: #ff1352;">Your session has expired. Please login again.</p>
        </div>



        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="login"></label>
            <div class="col-md-4">
                <button id="login" name="login" class="btn btn-primary">Login</button>
            </div>
        </div>

    </fieldset>
</form>


<div class="col-md-1">
    <a class="btn btn-default" href="#" th:href="@{'/register'}" role="button">Sign Up!</a>
</div>

</body>
</html>